$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$background-color: #4e4e4e;
$button-color: #555;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$border-color: #333;

input {
  color: $black;
}

.hidden {
  display: none;
}

body {
  background-color: $background-color;
  color: $font-color;
  margin-bottom: 100px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 50px;
  text-align: center;
}

.messages {
  padding: 5px 10px;
}

.button {
  background: $button-color;
  border: 1px solid $border-color;
  color: $white;
  margin: 5px 10px;
  padding: 5px 10px;
}

.remove-button {
  background: $button-color;
  border: 1px solid $border-color;
  color: $white;
  margin: 5px 10px;
  padding: 5px 10px;
}

.noclick {
  pointer-events: none;
}

.hover {
  opacity: .8;
}
